

  <div class="publications">
    <h2>My Publications</h2>
    <ul class="margin-list pub-list">
      <li>
        <div>
          <img src="/assets/article.png">
        </div>
        <div class="link-wrap">
          <span><a href="https://medium.com/@kelvinyan/an-overview-of-modern-web-application-frameworks-b5b8d105fe96" target="_blank">An Overview of Modern Web Application Frameworks (April 2019)</a></span>
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/article.png">
        </div> 
        <div class="link-wrap">

          <span><a href="https://medium.com/@kelvinyan/how-to-validate-amp-pages-f1b4a38224c9" target="_blank">How to Validate AMP Pages (December 2018)</a></span>
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/article.png">
        </div>
        <div class="link-wrap">
          <span><a href="https://medium.com/@kelvinyan/future-of-accelerated-mobile-pages-google-amp-in-2019-d5023810eb58" target="_blank">Future of Google AMP in 2019 (November 2018)</a> </span>
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/article.png">
        </div>
        <div class="link-wrap">
          <a href="https://medium.com/@kelvinyan/learning-angular-pipes-part-ii-89418573eb74" target="_blank">Learning Angular Pipes Part II (February 2018)</a> 
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/article.png">
        </div>
        <div class="link-wrap">
          <a href="https://medium.com/@kelvinyan/learning-angular-pipes-part-i-66b483603792" target="_blank">Learning Angular Pipes Part I (February 2018)</a>
        </div>
      </li>
    </ul>
  </div>