<h2>
  Professional Experience
</h2>
<ul class="margin-list work-list">
  <li>
    <div class="role">
      Analyst Programmer
    </div>
    <div class="company">
      <img src="/assets/taptopay-logo-2019.png" alt="Tap To Pay Limited" />
    </div>
    <div class="time">
      September 2019 — Present
    </div>
    <div class="responsibilities">
      <p>
        Maintained and improved software for their current transportation system
        projects.
      </p>
      <p>
        Quickly familiarized myself with projects to be able to troubleshoot
        bugs and apply patches.
      </p>
      <p>
        Added database maintenance scripts with cron for Linux and task
        scheduler for Windows.
      </p>
      <p>
        Integrated 3rd party payment providers to list of payment methods.
      </p>
      <p>
        Increased add-value machine's uptime with
        <em>'limited-operation-mode'</em> feature.
      </p>
      <p>
        Created a proof of concept app for a fleet management solution that our
        sales team could demo to a client.
      </p>
      <p>
        Developed a multi-tenanted fleet management solution to track vehicles
        in real-time. Assisted with defining solution requirements and coverage.
        Planned architecture using microservice pattern so it would be able to
        horizontally scale, if needed. Review project in meetings and make
        adjustments as needed. Set up DevOps pipeline for development, sandbox,
        and production environments. I used gRPC, ASPNETCore, SignalRCore,
        NUnit, MySQL, EF, Angular 8, and Akita.
      </p>
      <p>
        Wrote and maintained technical design docs as well as readmes.
      </p>
    </div>
  </li>

  <li>
    <div class="role">
      Self Employed
    </div>
    <div class="company">
      <img src="/assets/bravokaclip.png" alt="Bravoka" />
      <span
        style="color:rgba(0,0,0,0.7);line-height:50px;vertical-align:top; margin-left:0.5em"
        >Bravoka Digital Designs</span
      >
    </div>
    <div class="time">
      March 2018 — Present
    </div>
    <div class="responsibilities">
      <p>
        Created several websites and web apps using Angular and ASP.NET Core.
      </p>
      <p>
        Published several articles online.
      </p>
      <p>
        Created animated Google Ads using Google Web Designer.
      </p>
      <p>
        Learned how to build powerful pages for technical SEO and dabbled into
        marketing.
      </p>
      <p>
        <em
          >Discovered better ways to build a startup or a product in the
          future.</em
        >
      </p>
    </div>
  </li>

  <li>
    <div class="role">
      Support Engineer
    </div>
    <div class="company">
      <img src="/assets/microsoft.jpg" alt="Microsoft" />
    </div>
    <div class="time">
      December 2016 — March 2018
    </div>
    <div class="responsibilities">
      <p>
        Supported several web apps and UWP apps. Track issues and investigate
        root causes.
      </p>
      <p>
        Updated and added new scripts and automation to increase Azure and
        service health monitoring.
      </p>
      <p>
        Migrated Splunk Windows server cluster to Linux server cluster with all
        data and configurations. Added SSL, Active Directory, and a load
        balancer to the setup. Later increased security by closing public ports
        and set up a jumpbox VM with Samba configuration to manage the
        individual VMs that make up the cluster. I became the
        <em>"go-to guy"</em> for any Splunk issues.
      </p>
      <p>
        Wrote a program run on Service Fabric Actors with the goal of replaying
        user sessions. The user sessions were pulled from SQL and were a copy of
        real user data for what endpoints they hit, the method of the request,
        the header and body, along with a <em>delta</em> time, which was based
        on the timestamp from the beginning of the first call in the user
        session. The <em>delta</em> would delay the request until the next
        request in sequence until there were no more requests — at which point
        that user session would terminate.
      </p>

      <p>
        Performed backend service troubleshooting and bug fixing for existing
        app services.
      </p>
      <p>
        Contributed 3 Service Fabric services to a project designed to try to
        pre-emptively predict when outages would occur or were about to occur
        using historic data. I used packages such as Microsoft Exchange and
        HTMLAgilityPack.
      </p>

      <p>
        Built a frontend on Angular 5 for the above project and used Azure
        Active Directory for access control. The front end would display data
        about recent service events and would spin up new services through form
        input.
      </p>
    </div>
  </li>
  <li>
    <div class="role">
      Technical Support Lead (Field Services)
    </div>
    <div class="company">
      <img src="/assets/cubic.jpg" alt="Cubic Transportation Systems" />
    </div>
    <div class="time">
      April 2015 — December 2016
    </div>
    <div class="responsibilities">
      <p>
        I was employed here as technical support for field devices such as
        faregates, ticket vending machines, rail station readers, and
        Point-of-Sale machines.
      </p>
      <p>
        In order to troubleshoot and fix problems effectively, I aggressively
        learned the network diagrams of the stations, the software and
        configuration files, and various electro-mechanical workings of the
        system.
      </p>
      <p>
        Wrote Powershell scripts to benchmark network performance, verify
        correct device and file configurations for all units on the system, and
        automated nightly tasks.
      </p>
      <p>
        Conducted electrical acceptance tests and device tests with the
        customer. Coordinated contractor work for machine installs and
        electrical & network cable pulling.
      </p>
      <p>
        Configured and installed network switches at stations.
      </p>
      <p>
        Performed electro-mechanical maintenance when needed.
      </p>
      <p>
        Created and deploy drive images, flashed firmware as needed, installed
        software, and configuration for production devices.
      </p>
    </div>
  </li>
  <li>
    <div class="role">
      Communication Systems Technologist
    </div>
    <div class="company">
      <img
        src="/assets/goc-logo.png"
        alt="Government of Canada (Canadian Forces)"
      />
    </div>
    <div class="time">
      October 2010 — October 2014
    </div>
    <div class="responsibilities">
      <p>
        Replaced modules and parts for VHF radios, network equipment, and
        related systems and extensions.
      </p>
      <p>
        Performed basic soldering when required.
      </p>
      <p>
        Terminated various cables.
      </p>
      <p>
        Ran preventative maintenance tests such as electrical tests and signal
        quality tests.
      </p>
    </div>
  </li>
</ul>
