<div>
  <h1>
    Kelvin Yan
  </h1>
  <h6>
    Full Stack Web Developer
  </h6>
  <div>
    <img class="h160" src="/assets/kelvinyan.jpg" style="border-radius:50%">
  </div>

  <div>

    <div class="raised-box">
      <h4>Who I am</h4>
      <p>
    	Originally from Vancouver, I came to Hong Kong in 2018 to explore and try new things. 
      </p>
      <p>
        I enjoy working on interesting ideas with good friends.
      </p>
      <p>
        Keen interest in art, photography, and history.
      </p>
      <p>
        In my spare time I read a lot, especially about programming.
      </p>
    </div>
    <div class="raised-box">
      <h4>
        How I define myself
      </h4>
      <p>
        <em>Challenges</em> &mdash; they only increase my interest and I don't like to give up.
      </p>
      <p>
        <em>Unique Experiences</em> &mdash; Tried to put on many hats for a startup. Did not go anywhere but learned a lot in the process. 
      </p>

      <p>
        <em>Flexible</em> &mdash; Strong ability to adapt to any work environment and any task.
      </p>
    </div>
    <div class="raised-box">
      <h4>
        CV
      </h4>
      <a href="/assets/KelvinYanCV.pdf" class="cv-wrapper">
        <div>
          <div>
            <img src="/assets/resume-clipboard.jpg" style="width:80px" alt="clipboard">
          </div>
          <div>
            Download
          </div>
        </div>
      </a>
    </div>
    <div class="raised-box">
      <h4>
    	  How to contact me
      </h4>
      <div class="icon-text-inline">
        <div>
          <img src="/assets/tel.png" alt="telephone">
        </div>
        <div>
          🇭🇰 +852-9200-4382 / 🇨🇦 +1-778-388-1083
        </div>
      </div>      
      <div class="icon-text-inline">
        <div>
          <img src="/assets/email.png" alt="email">
        </div>
        <div>
          <a href="mailto:kelvin.yan@bravoka.io">kelvin.yan@bravoka.io</a>
        </div>
      </div>
      <div class="icon-text-inline">
        <div>
          <img src="/assets/whatsapp.png" alt="whatsapp">
        </div>
        <div>
          <a href="https://api.whatsapp.com/send?phone=17783881083">Click here to message me on WhatsApp</a>
        </div>
      </div>
      <div class="icon-text-inline">
        <div>
          <img src="/assets/telegram.png" alt="telegram">
        </div>
        <div>
          <a href="https://t.me/keyanism">Click here to message me on Telegram</a>
        </div>
      </div>
    </div>
  </div>
</div>