
  <div class="links">
    <h2>Miscellaneous Links</h2>
    <ul class="margin-list misc-list">
      <li>
        <a href="https://www.linkedin.com/in/kelvinyan/" target="_blank" >
          <div matTooltip="My LinkedIn Profile Page" matTooltipPosition="right"><img src="/assets/linkedin.svg" style="height:22px;width:84px"></div>
        </a>
      </li>
      <li>
        <a href="https://github.com/bravoka" target="_blank">
          <div matTooltip="Largely unmaintained" matTooltipPosition="right"><img src="/assets/github.png" style="height:80px">
          </div>
        </a>
        
      </li>
      <li>
        <a href="https://unsplash.com/@kelvinyan" target="_blank">
          <div matTooltip="A small portfolio of photographs I've taken" matTooltipPosition="right"><img src="/assets/unsplash.png" style="height:110px"></div>
        </a>
      </li>
    </ul>
  </div>
