
 <div class="certificates">
    <h2>My Certifications</h2>
    <ul>
      <li>
        <figure > 
          <img class="h160" src="/assets/logoAPlus.svg" alt="CompTIA A+ (2016)" matTooltip="Broad general IT knowledge" matTooltipPosition="right" style="width:200px"> 
          <figcaption>CompTIA A+ (2016) 220-901 & 220-902</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="h160" src="/assets/logoNetworkPlus.svg" alt="CompTIA Network+ (2016)" matTooltip="Studying for this certificate provided me a baseline knowledge in network technologies that proved helpful when I started in the cloud" matTooltipPosition="right" style="width:200px">
          <figcaption>CompTIA Network+ (2016) N10-006</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <img class="h54" style="padding:34px 0" src="/assets/cfa-logo.png" alt="CFA Investment Foundations (2015)" matTooltip="Certificate program introducing me to global financial markets, ethical considerations in finance industries, investment roles, and essentials of finance" matTooltipPosition="right">
          <figcaption>CFA Investment Foundations (2015)</figcaption>
        </figure>
      </li>
    </ul>
  </div>