<div class="certificates">
  <h2>My Certifications</h2>
  <ul>
    <li>
      <div>
        <a
          href="https://www.youracclaim.com/badges/421131bc-be11-480e-8a7d-341869d35ded?source=linked_in_profile"
          target="_blank"
        >
          <figure>
            <img
              class="h160"
              src="/assets/asea600.png"
              alt="CompTIA A+ (2016)"
              matTooltip="Strengthening my depth and breadth of security best practices"
              matTooltipPosition="right"
              style="width: 160px"
            />
            <figcaption>
              Microsoft Azure Security Engineer Associate (2020) AZ-500
            </figcaption>
          </figure>
        </a>
      </div>
    </li>
    <li>
      <a
        href="https://www.certmetrics.com/comptia/public/verification.aspx?code=LCV21R4GFGFQQLCJ"
        target="_blank"
      >
        <figure>
          <img
            class="h160"
            src="/assets/logoNetworkPlus.svg"
            alt="CompTIA Network+ (2016)"
            matTooltip="Studying for this certificate provided me a baseline knowledge in network technologies that proved helpful when I started using cloud platforms"
            matTooltipPosition="right"
            style="width: 200px"
          />
          <figcaption>CompTIA Network+ (2016) N10-006</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a
        href="https://www.certmetrics.com/comptia/public/verification.aspx?code=C60E3WYG33F1CXVE"
        target="_blank"
      >
        <figure>
          <img
            class="h160"
            src="/assets/logoAPlus.svg"
            alt="CompTIA A+ (2016)"
            matTooltip="General IT foundational knowledge"
            matTooltipPosition="right"
            style="width: 200px"
          />
          <figcaption>CompTIA A+ (2016) 220-901 & 220-902</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://basno.com/mx2smz6v" target="_blank">
        <figure>
          <img
            class="h54"
            style="padding: 34px 0"
            src="/assets/cfa-logo.png"
            alt="CFA Investment Foundations (2015)"
            matTooltip="Certificate program introducing me to global financial markets, ethical considerations in finance industries, investment roles, and essentials of finance"
            matTooltipPosition="right"
          />
          <figcaption>CFA Investment Foundations (2015)</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</div>
